@charset "utf-8";
/* CSS reset */
*{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
ul,ol{
	list-style:none;
}
h1,h2,h3,h4,h5,h6,strong,b{
	font-weight:100;
}
i,em{
	font-style:normal;
}
body,html{
	width:100%;
	height:100%;
}
/*banner开始*/
#banner-w{
	width:1423px;
	height:431px;
	background:url(../images/xdjy_01_10.jpg) no-repeat;
	margin:0 auto;
}
.banner{
	width:1008px;
	height:431px;
	margin:0 auto;
	position:relative;
}
.banner .banner-pic{
	display:block;
	width:1008px;
	height:431px;
}
.banner ol{
	width:70px;
	height:9px;
	position:relative;
	left:475px;
	bottom:23px;
}
.banner ol li{
	float:left;
	width:9px;
	height:9px;
	padding-right:5px;
}
.banner ol li a{
	display:block;
	width:7px;
	height:9px;
	border-left:1px solid #f0516f;
	border-right:1px solid #ef8496;
	background:#f03b5e;
}

.banner ol li a:hover{
	border-left:1px solid #e8d384;
	border-right:1px solid #dbb522;
	background:#dcb115;
}
/*main 开始*/	
#main-w{
	width:100%;
}
.main01-w{
	width:100%;
	height:630px;
}
.main01{
	width:1008px;
	height:630px;
	margin:0 auto;
}
.main01-t{
	width:1008px;
	height:176px;
	overflow:hidden;
	position:relative;
}
.main01-t h3{
	width:44px;
	height:44px;
	border-radius:22px;
	background:#ef6b00;
	font-size:22px;
	color:#fff;
	text-align:center;
	line-height:40px;
	position: absolute;
	left:483px;
	top:20px;
}
.main01-t p{
	text-align:center;
	font-size:11px;
	color:#c8c8c8;
	margin-top:75px;
}
.main01-t p strong{
	font-size:18px;
	color:#ef6b00;
}
.main01-1{
	width:58px;
	height:454px;
	float:left;
	position:relative;
}
.main01-1 a{
	display:block;
	width:34px;
	height:34px;
	border-radius:17px;
	background:#e6e6e6;
	font-size:16px;
	color:#696969;
	line-height:34px;
	text-align:center;
	position:absolute;
	top:194px;
	left:4px;
}
.main01-2{
	width:284px;
	height:454px;
	float:left;
	margin-right:20px;
}
/*.main01-2 img{
	margin-bottom:0px;
}*/
#main-w .main01-2-1{
	width:242px;
	height:165px;
	border:1px solid;
	border-top:4px solid;
	border-color:#e7e7e7;
	padding:0 20px;
	padding-top:18px;
	position:relative;
}
.main01-2 h4{
	text-align:center;
	font-size:22px;
	color:#323431;
	font-weight:900;
}
.main01-2 p{
	font-size:11px;
	color:#747474;
	line-height:24px;
	margin-top:10px;
}
.main01-2-1 span{
	font-size:6px;
	color:#b19aa2;
	position:absolute;
	right:20px;
	bottom:25px;
}.main01-3{
	width:284px;
	height:454px;
	float:left;
	margin-right:20px;s
}
/*.main01-3 img{
	margin-bottom:0px;
}*/
#main-w .main01-3-1{
	width:242px;
	height:165px;
	border:1px solid;
	border-top:4px solid;
	border-color:#e7e7e7;
	padding:0 20px;
	padding-top:18px;
	position:relative;
}
.main01-3 h4{
	text-align:center;
	font-size:22px;
	color:#323431;
	font-weight:900;
}
.main01-3 p{
	font-size:11px;
	color:#747474;
	line-height:24px;
	margin-top:10px;
}
.main01-3-1 span{
	font-size:6px;
	color:#b19aa2;
	position:absolute;
	right:20px;
	bottom:25px;
}.main01-4{
	width:284px;
	height:454px;
	float:left;
}
/*.main01-4 img{
	margin-bottom:0px;
}*/
#main-w .main01-4-1{
	width:242px;
	height:165px;
	border:1px solid;
	border-top:4px solid;
	border-color:#e7e7e7;
	padding:0 20px;
	padding-top:18px;
	position:relative;
}
.main01-4 h4{
	text-align:center;
	font-size:22px;
	color:#323431;
	font-weight:900;
}
.main01-4 p{
	font-size:11px;
	color:#747474;
	line-height:24px;
	margin-top:10px;
}
.main01-4-1 span{
	font-size:6px;
	color:#b19aa2;
	position:absolute;
	right:20px;
	bottom:25px;
}
.main01-5{
	width:58px;
	height:454px;
	float:left;
	position:relative;
}
.main01-5 a{
	display:block;
	width:34px;
	height:34px;
	border-radius:17px;
	background:#e6e6e6;
	font-size:16px;
	color:#696969;
	line-height:34px;
	text-align:center;
	position:absolute;
	top:194px;
	left:4px;
}
/*main02开始*/
.main02-w{
	width:100%;
	height:570px;
	background:#e03b39;
}
.main02{
	width:1008px;
	height:570px;
	margin:0 auto;
	background:#e03b39;
}
.main02-t{
	width:1008px;
	height:176px;
	position:relative;
	overflow:hidden;
}
.main02-t h3{
	width:44px;
	height:44px;
	border-radius:22px;
	background:#fff;
	font-size:22px;
	color:#e03b39;
	text-align:center;
	line-height:40px;
	position: absolute;
	left:483px;
	top:20px;
}
.main02-t p{
	text-align:center;
	font-size:11px;
	color:#fff;
	margin-top:75px;
}
.main02-t p strong{
	font-size:18px;
	color:#fff;
}
.main02-1{
	width:177px;
	height:384px;
	float:left;
	margin-top:10px;
	margin-right:30px;
}
.main02-1 dl{
	width:177px;
	height:144px;
	padding-top:5px;
}
.main02-1 dl dt{
	font-size:16px;
	color:#fff;
	text-align:center;
	padding-bottom:10px;
}
.main02-1 dl dd{
	font-size:11px;
	color:#fff;
}
.main02-2{
	width:177px;
	height:384px;
	float:left;
	margin-top:10px;
	margin-right:30px;
}
.main02-2 dl{
	width:177px;
	height:144px;
	padding-top:5px;
}
.main02-2 dl dt{
	font-size:16px;
	color:#fff;
	text-align:center;
	padding-bottom:10px;
}
.main02-2 dl dd{
	font-size:11px;
	color:#fff;
}.main02-3{
	width:177px;
	height:384px;
	float:left;
	margin-top:10px;
	margin-right:30px;
}
.main02-3 dl{
	width:177px;
	height:144px;
	padding-top:5px;
}
.main02-3 dl dt{
	font-size:16px;
	color:#fff;
	text-align:center;
	padding-bottom:10px;
}
.main02-3 dl dd{
	font-size:11px;
	color:#fff;
}.main02-4{
	width:177px;
	height:384px;
	float:left;
	margin-top:10px;
	margin-right:30px;
}
.main02-4 dl{
	width:177px;
	height:144px;
	padding-top:5px;
}
.main02-4 dl dt{
	font-size:16px;
	color:#fff;
	text-align:center;
	padding-bottom:10px;
}
.main02-4 dl dd{
	font-size:11px;
	color:#fff;
}.main02-5{
	width:177px;
	height:384px;
	float:left;
	margin-top:10px;
}
.main02-5 dl{
	width:177px;
	height:144px;
	padding-top:5px;
}
.main02-5 dl dt{
	font-size:16px;
	color:#fff;
	text-align:center;
	padding-bottom:10px;
}
.main02-5 dl dd{
	font-size:11px;
	color:#fff;
}
/*main03 开始*/
.main03-w{
	width:100%;
	height:626px;
	background:#fff;
}
.main03{
	width:1008px;
	height:626px;
	margin:0 auto;
	background:#fff;
}
.main03-t{
	width:1008px;
	height:220px;
	position:relative;
	overflow:hidden;
}
.main03-t h3{
	width:44px;
	height:44px;
	border-radius:22px;
	background:#ff7f00;
	font-size:22px;
	color:#fff;
	text-align:center;
	line-height:40px;
	position: absolute;
	left:483px;
	top:20px;
}
.main03-t p{
	text-align:center;
	font-size:11px;
	color:#c9c7c8;
	margin-top:75px;
}
.main03-t p strong{
	font-size:18px;
	color:#ff7f00;
}
.main03-b{
	width:1008px;
	height:406px;
}
.main03-b1{
	width:450px;
	height:146px;
	float:left;
	margin-right:80px;
	margin-bottom:40px;
}
.main03-b1 img{
	float:left;
}
.main03-b1 dl{
	width:221px;
	height:126px;
	float:left;
	padding-left:20px;
	padding-top:20px;
}
.main03-b1 dl dt{
	font-size:14px;
	color:#343233;
}
.main03-b1 dl dd{
	font-size:11px;
	color:#66656a;
	padding-top:5px;
}
.main03-b1 dl span{
	font-size:8px;
	color:#999999;
}
.main03-b1 ._more{
	font-size:6px;
	color:#b498a4;
	float:left;
	padding-top:20px;
}.main03-b2{
	width:450px;
	height:146px;
	float:left;
	margin-bottom:40px;
}
.main03-b2 img{
	float:left;
}
.main03-b2 dl{
	width:221px;
	height:126px;
	float:left;
	padding-left:20px;
	padding-top:20px;
}
.main03-b2 dl dt{
	font-size:14px;
	color:#343233;
}
.main03-b2 dl dd{
	font-size:11px;
	color:#66656a;
	padding-top:5px;
}
.main03-b2 dl span{
	font-size:8px;
	color:#999999;
}
.main03-b2 ._more{
	font-size:6px;
	color:#b498a4;
	float:left;
	padding-top:20px;
}.main03-b3{
	width:450px;
	height:146px;
	float:left;
	margin-right:80px;
}
.main03-b3 img{
	float:left;
}
.main03-b3 dl{
	width:221px;
	height:126px;
	float:left;
	padding-left:20px;
	padding-top:20px;
}
.main03-b3 dl dt{
	font-size:14px;
	color:#343233;
}
.main03-b3 dl dd{
	font-size:11px;
	color:#66656a;
	padding-top:5px;
}
.main03-b3 dl span{
	font-size:8px;
	color:#999999;
}
.main03-b3 ._more{
	font-size:6px;
	color:#b498a4;
	float:left;
	padding-top:20px;
}.main03-b4{
	width:450px;
	height:146px;
	float:left;
}
.main03-b4 img{
	float:left;
}
.main03-b4 dl{
	width:221px;
	height:126px;
	float:left;
	padding-left:20px;
	padding-top:20px;
}
.main03-b4 dl dt{
	font-size:14px;
	color:#343233;
}
.main03-b4 dl dd{
	font-size:11px;
	color:#66656a;
	padding-top:5px;
}
.main03-b4 dl span{
	font-size:8px;
	color:#999999;
}
.main03-b4 ._more{
	font-size:6px;
	color:#b498a4;
	float:left;
	padding-top:20px;
}
/*main04 开始*/
.main04-w{
	width:100%;
	height:570px;
	background:#e03b39;
}
.main04{
	width:1008px;
	height:570px;
	margin:0 auto;
	background:#e03b39;
}
.main04-t{
	width:1008px;
	height:176px;
	position:relative;
	overflow:hidden;
}
.main04-t h3{
	width:44px;
	height:44px;
	border-radius:22px;
	background:#fff;
	font-size:22px;
	color:#e03b39;
	text-align:center;
	line-height:40px;
	position: absolute;
	left:483px;
	top:20px;
}
.main04-t p{
	text-align:center;
	font-size:11px;
	color:#fff;
	margin-top:75px;
}
.main04-t p strong{
	font-size:18px;
	color:#fff;
}
.main04-1{
	width:177px;
	height:384px;
	float:left;
	margin-top:10px;
	margin-right:30px;
}
.main04-1 dl{
	width:177px;
	height:144px;
	padding-top:5px;
}
.main04-1 dl dt{
	font-size:16px;
	color:#fff;
	text-align:center;
	padding-bottom:10px;
}
.main04-1 dl dd{
	font-size:11px;
	color:#fff;
}
.main04-2{
	width:177px;
	height:384px;
	float:left;
	margin-top:10px;
	margin-right:30px;
}
.main04-2 dl{
	width:177px;
	height:144px;
	padding-top:5px;
}
.main04-2 dl dt{
	font-size:16px;
	color:#fff;
	text-align:center;
	padding-bottom:10px;
}
.main04-2 dl dd{
	font-size:11px;
	color:#fff;
}
.main04-3{
	width:177px;
	height:384px;
	float:left;
	margin-top:10px;
	margin-right:30px;
}
.main04-3 dl{
	width:177px;
	height:144px;
	padding-top:5px;
}
.main04-3 dl dt{
	font-size:16px;
	color:#fff;
	text-align:center;
	padding-bottom:10px;
}
.main04-3 dl dd{
	font-size:11px;
	color:#fff;
}
.main04-4{
	width:177px;
	height:384px;
	float:left;
	margin-top:10px;
	margin-right:30px;
}
.main04-4 dl{
	width:177px;
	height:144px;
	padding-top:5px;
}
.main04-4 dl dt{
	font-size:16px;
	color:#fff;
	text-align:center;
	padding-bottom:10px;
}
.main04-4 dl dd{
	font-size:11px;
	color:#fff;
}
.main04-5{
	width:177px;
	height:384px;
	float:left;
	margin-top:10px;
}
.main04-5 dl{
	width:177px;
	height:144px;
	padding-top:5px;
}
.main04-5 dl dt{
	font-size:16px;
	color:#fff;
	text-align:center;
	padding-bottom:10px;
}
.main04-5 dl dd{
	font-size:11px;
	color:#fff;
}
/*main05开始*/
.main05-w{
	width:100%;
	height:626px;
	background:#fff;
}
.main05{
	width:1008px;
	height:626px;
	margin:0 auto;
	background:#fff;
}
.main05-t{
	width:1008px;
	height:220px;
	position:relative;
	overflow:hidden;
}
.main05-t h3{
	width:44px;
	height:44px;
	border-radius:22px;
	background:#ff7f00;
	font-size:22px;
	color:#fff;
	text-align:center;
	line-height:40px;
	position: absolute;
	left:483px;
	top:20px;
}
.main05-t p{
	text-align:center;
	font-size:11px;
	color:#c9c7c8;
	margin-top:75px;
}
.main05-t p strong{
	font-size:18px;
	color:#ff7f00;
}
.main05-b{
	width:1008px;
	height:334px;
}
.main05-b li{
	float:left;
	padding-right:25px;
	padding-bottom:20px;
}
/*footer-nav 开始*/
#footer-nav-w{
	width:100%;
	height:365px;
	background:#232323;
}
.footer-nav{
	width:1008px;
	height:365px;
	margin:0 auto;
	background:#232323;
}
.footer-n-t{
	width:1008px;
	height:176px;
	position:relative;
	overflow:hidden;
}
.footer-n-t h3{
	width:44px;
	height:44px;
	border-radius:22px;
	background:#fff;
	font-size:22px;
	color:#000;
	text-align:center;
	line-height:40px;
	position: absolute;
	left:483px;
	top:50px;
}
.footer-n-t p{
	text-align:center;
	font-size:11px;
	color:#fff;
	margin-top:110px;
}
.footer-n-t strong{
	font-size:18px;
	color:#fff;
}	
.footer-n-p1{
	font-size:16px;
	color:#ffff0c;
	text-align:center;
}
.footer-n-p1 a{
	color:#ffff0c;
}
.footer-n-p2{
	font-size:22px;
	color:#e1dfe2;
	text-align:center;
	padding-top:23px;
}
.footer-n-p2 strong{
	font-size:36px;
	font-weight:900;
	color:#fff;
}
/*footer 开始*/
#footer-w{
	height:300px;
	background:#fff;
}
.footer{
	width:1008px;
	height:300px;
	background:#fff;
	margin:0 auto;
}
.footer-t{
	width:1008px;
	height:240px;
}
.footer-t01{
	width:90px;
	height:240px;
	float:left;
	margin-right:34px;
}
.footer-t01 h3{
	font-size:14px;
	color:#353432;
	line-height:40px;
	border-bottom:1px solid #e0e0e0;
}
.footer-t01 ul{
	width:85px;
	padding-top:3px;
	padding-left:5px;
}
.footer-t01 ul li{
	background:url(../images/xdjy_011_03.jpg) no-repeat;
	background-position:0 11px;
	padding-left:5px;
}
.footer-t01 ul li a{
	font-size:11px;
	color:#757573;
}.footer-t02{
	width:90px;
	height:240px;
	float:left;
	margin-right:34px;
}
.footer-t02 h3{
	font-size:14px;
	color:#353432;
	line-height:40px;
	border-bottom:1px solid #e0e0e0;
}
.footer-t02 ul{
	width:85px;
	padding-top:3px;
	padding-left:5px;
}
.footer-t02 ul li{
	background:url(../images/xdjy_011_03.jpg) no-repeat;
	background-position:0 11px;
	padding-left:5px;
}
.footer-t02 ul li a{
	font-size:11px;
	color:#757573;
}.footer-t03{
	width:90px;
	height:240px;
	float:left;
	margin-right:34px;
}
.footer-t03 h3{
	font-size:14px;
	color:#353432;
	line-height:40px;
	border-bottom:1px solid #e0e0e0;
}
.footer-t03 ul{
	width:85px;
	padding-top:3px;
	padding-left:5px;
}
.footer-t03 ul li{
	background:url(../images/xdjy_011_03.jpg) no-repeat;
	background-position:0 11px;
	padding-left:5px;
}
.footer-t03 ul li a{
	font-size:11px;
	color:#757573;
}.footer-t04{
	width:90px;
	height:240px;
	float:left;
	margin-right:34px;
}
.footer-t04 h3{
	font-size:14px;
	color:#353432;
	line-height:40px;
	border-bottom:1px solid #e0e0e0;
}
.footer-t04 ul{
	width:85px;
	padding-top:3px;
	padding-left:5px;
}
.footer-t04 ul li{
	background:url(../images/xdjy_011_03.jpg) no-repeat;
	background-position:0 11px;
	padding-left:5px;
}
.footer-t04 ul li a{
	font-size:11px;
	color:#757573;
}.footer-t05{
	width:90px;
	height:240px;
	float:left;
	margin-right:34px;
}
.footer-t05 h3{
	font-size:14px;
	color:#353432;
	line-height:40px;
	border-bottom:1px solid #e0e0e0;
}
.footer-t05 ul{
	width:85px;
	padding-top:3px;
	padding-left:5px;
}
.footer-t05 ul li{
	background:url(../images/xdjy_011_03.jpg) no-repeat;
	background-position:0 11px;
	padding-left:5px;
}
.footer-t05 ul li a{
	font-size:11px;
	color:#757573;
}
.footer-t06{
	width:347px;
	height:217px;
	border-left:1px solid #e0e0e0;
	float:left;
	padding-left:40px;
}
.footer-t06 h3{
	font-size:14px;
	color:#353432;
	line-height:40px;
	border-bottom:1px solid #e0e0e0;
}
#footer-w .f-t-p1{
	font-size:12px;
	color:#444341;
}
#footer-w .f-t-p2{
	font-size:11px;
	color:#666970;
	background:url(../images/xdjy_01_1_06.jpg) no-repeat;
	padding: 0 0 10px 20px;
	margin-top:15px;
}
#footer-w .f-t-p3{
	font-size:11px;
	color:#666970;
	background:url(../images/xdjy_01_1_11.jpg) no-repeat;
	padding-left:20px;
	margin-bottom:20px;
}
#footer-w .f-t-p3 span{
	color:#dd163f;
}
.text{
	border:1px solid #dfdfdf;
	width:141px;
	height:19px;
	background:url(../images/xdjy_01_1_13.jpg) no-repeat;
	padding-left:14px;
	outline:none;
	float:left;
}
.sub{
	width:53px;
	height:21px;
	line-heitht:21px;
	text-align:center;
	background:#f03c61;
	border:none;
	float:left;
}
.footer-b{
	width:1000px;
	height:49px;
	border-top:1px solid #e0e0e0;
	margin:0 auto;
	padding-top:10px;
	
}
.footer-bl01{
	width:520px;
	heigth:49px;
	float:left;
}
.footer-bl01 p{
	font-size:11px;
	color:#a9adae;
	line-height:49px;
}
.footer-bl02{
	width:480px;
	height:59px;
	float:left;
	font-size:11px;
}
#footer-w .footer-b .footer-bl02 span{
	display:inline-block;
	float:left;
	color:#a9ada;
	text-align:left;
}
#footer-w .footer-b .footer-bl02 a{
	display:inline-block;
	color:#a9ada;
	padding:0 5px;
	border-right:1px solid #a9ada;
	float:left;
}
.footer-bl02-1{
	float:left;
	width:400px;
}